{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJaX</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- <h1 id="car">car heading</h1> -->
    <!--
    <p>this paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi mollitia nulla quisquam libero nam laboriosam distinctio dolore architecto nostrum saepe aliquid ullam, blanditiis modi officia repellendus optio dignissimos expedita totam.</p> -->

    <!-- <div>
        <img src="{% static 'image/car.jpg' %}" alt="">
        <h1>Price: 2500000</h1>
        <p>color is white, and also you can book online and off line your booking. its 
            <i class="fa fa-arrow-down"></i><span style="display: none;">availble many others color so dont worry.</span> </p>
    </div> -->

    <!-- <script>
        // $('h1').click(function(){
        //     $('p').toggle()
        // })

        // $('i').click(function(){
        //     $('span').toggle()
        // })

        $('#car').click(function(){
            $('div').slideToggle(5000)
        })
        
    </script> -->

    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laboriosam, nulla voluptates aliquam, non quam facilis molestiae id mollitia ex praesentium voluptatibus sunt suscipit, quae quo consequatur maxime corrupti reprehenderit.</p>
<button type="submit">submit</button> -->

<!-- jquery 17/nov/2021 -->
<!-- <button type="submit">submit</button>

<p style="position:absolute">Lorem ipsum dolor sit amet.</p> -->

<!-- <div style="position: absolute;"><img src="{% static 'image/amazon1.png'%}" width="100" alt="">
    <h1>Hello india !!!</h1>
</div> -->

 
    <!-- <script>

         $('button').click(function(){
        //     // $('img').animate({left: '200px'})
            // $('div').animate({left:'200px',top:'200px'}).css({color:"cyan", backgroundColor:'red'})
            $('p').animate({left:'400px',top:'400px'}).css({color:'green'})
           
        })
        
    </script> -->

<!-- <div style="position: relative; width: 400px; height: 200px; border: 2px solid black; margin-top: 200px;">This div element has position: relative;
    <div style="position: absolute; width: 100px; height: 100px; border: 2px solid red;">This div element has position: absolute;</div>
  </div> -->
<input type="text" placeholder="enter your name">
<lable>do you have a passport?</lable>
<input type="checkbox" id="ck">
<span style="display: none;"><input type="text" placeholder="enter your passport number"></span>


<!-- <input type="text" placeholder="enter your name">
<select id="sel">
    <option>Aadhar card</option>
    <option>voter card</option>
    <option>Driving license</option>
    <option>Passport</option>
</select>

<label></label>
<span style="display: none;"><input type="text"></span>
<script> -->

<!-- $('#sel').change(function(){
   a = $('#sel').val()
//    $('label').text(a)
    $('span').show('input')
    
})


    // $('input').change(function(){
    //     alert($('input').val())
    // })

    // $('body').ready(function(){
    //     $('input').val('hello')
    // }) -->

    <script> 
        $('#ck').click(function(){
         $('span').toggle()
     })
     </script>

    
</script>




<!-- 18/nov/2021 -->

<script>

</script>


</body>

</html>