{% extends 'facebook_home.html' %}
{% block content %}
{% load static %}

<h3>Change Password :</h3>
<br>
<div class="form-control-sm">
<form action="/facebook_changep/" method="POST">
    {% csrf_token %}
<input class="form-control form-control-sm mb-2" type="text" placeholder="Enter old password" name="oldpass">
<input class="form-control form-control-sm mb-2" type="text" placeholder="Enter new password" name="newpass" id="newpass">
<input class="form-control form-control-sm mb-2" type="text" placeholder="Confirm new password" id="confpass" onchange="return changepass()">


<button type="submit" class="btn btn-success">Submit</button>
<button type="reset" class="btn btn-success">Reset</button>

</form>
<script>
    function changepass(){
        newpass = document.getElementById('newpass').value
        confirmpass = document.getElementById('confpass').value
        if(newpass!=confirmpass){
            alert('pass not match')
            document.getElementById('newpass').value=""
            document.getElementById('confpass').value=""
            return false;
        }
        else{
            return true;
        }
    }
</script>
</div>

{% endblock %}