
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/imgfile/" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" placeholder="Name" name="n1">

        <input type="file" name="f1">

        <button type="submit">Submit</button>
    </form>
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>image</th>
        </tr>
        
        <tr>{% for i in show %}</tr>
         <td>{{i.id}}</td>
         <td>{{i.name}}</td>
         <td>
             <h1>Images</h1>
             <img src="/myapp/media/{{i.file}}" width="100" alt="error">
         </td>
         {% endfor %}
    </table>
</body>
</html>